<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Example page</title>
   <script type="application/x-javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.js"></script>
<script type="application/x-javascript">
/*
function process_json(json) {
    $("#reply").append(json)
}

 $(document).ready(function(){
$("#graph_submit").click(function(event) {
    event.preventDefault();
    form = $('#graph_form');
    $("#reply").text("fetching");
    $.post(form.attr('action'), form.serialize(), process_json);
});

$("#friend_submit").click(function(event) {
    event.preventDefault();
    form = $('#friend_form');
    $("#reply").text("fetching")
    $.post(form.attr('action'), form.serialize(), process_json);
});
 });
*/
</script>
</head>
<body>
{% block body %}
    <h1>Example page</h1>
    <h3>Pretty Picture</h3>
    (Please don't choose Circo and Friends, as it will blow up)
<form id="graph_form" name="graph_form" action="/sg/pretty/" method="POST" enctype="application/x-www-form-urlencoded">
Twitter Username: <input type="text" id="graph_twitter_name" name="twitter" value="" size="90" maxlength="90"  min="" max="" accept=""/><br>
Type: <select name="type" id="graph_type">
            <option value='claimed'>Claimed</option>
            <option value='friends'>Friends (CAREFUL YO)</option>
        </select>
<br>
Layout: <select name="layout" id="graph_layout">
            <!-- <option value='circo'>Circo</option> -->
            <option value='dot'>Dot</option>
            <option value='fdp'>FDP</option>
        </select>
<br>
Format: <select name="format" id="friend_format">
            <option value='png'>png</option>
            <option value='svg'>svg</option>
            <option value='jpg'>jpg</option>
            <option value='gif'>gif</option>
        </select>
<br>
<input id="graph_submit" type="submit"/>
</form>
<br><br><br>
<h3>Find your friends</h3>
<form id="friend_form" name="friend_form" action="/sg/friends/" method="POST" enctype="application/x-www-form-urlencoded">
Twitter Username: <input type="text" id="friend_twitter_name" name="twitter" value="" size="90" maxlength="90"  min="" max="" accept=""/><br>
Twitter Username 2: <input type="text" id="friend2_twitter_name" name="twitter2" value="" size="90" maxlength="90"  min="" max="" accept=""/><br>
<!--
Type: <select name="type" id="friend_type">
            <option value='claimed'>Claimed</option>
            <option value='friends'>Friends</option>
        </select>
-->
<br>
<br>
<input id="friend_submit" type="submit"/>
</form>


<h3>Results</h3>
<div id="reply">
</div>
{% endblock %}
</body>
</html>
