body {
    background: #ddd url(/site_media/dev/images/home_bg.jpg) repeat-x;
}

#wrapper {
}

#header {
        height: 80px;
        background: url(/site_media/dev/images/header_spotlight_bg.jpg) no-repeat;
}

#header h1 {
     	margin-top: 10px;
        text-indent: -20000px;
        background: url(/site_media/dev/images/logo.jpg) no-repeat;
        width: 320px;
        height: 60px;
}

#mainNav {
      padding: 1em;
      overflow: hidden;
}


#home #mainNav {
     margin-bottom: 2em;
}

#mainNav li {
  display: inline;
}

#mainNav li a {
   padding: 6px 15px;
   text-decoration: none;
   overflow: hidden;
   color: #fff;
   display: block;
   float: left;
   font-weight: bold;
}

#mainContent {
   background: url(/site_media/dev/images/body_bg.jpg) repeat-y #fff;
   overflow: hidden;
}

#primaryContent {
    padding: 2em 0;
    background: #fff;
}

div#secondaryContent {
    padding-top: 2em;
}

.itemGroup {
   margin: 1em;
   padding: 1em;
   border-bottom: 1px solid #eee;
}

.contributedName {
}

.contributedTime {
   font-size: 12px;
   float: right;
}


#footer {
    padding: 2em;
}

