body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}

a {
   color: #729fa5;
}

h2 {
  font-size: 260%;
}

h3 {
   font-size: 200%;
}

p {
   font-size: 100%;
   margin-bottom: 1em;
   color: #333;
}

a.contributedName {
    font-weight: strong;
    font-size: 120%;
    padding: 5px;
}


#secondaryContent h2 {
   font-size: 180%;
}

