{% extends "djangopeople/base.html" %}

{% block dptitle %}
Home
{% endblock %}

{% block body_title %}
{% endblock %}
{% block bodyId %}home{% endblock %}
{% block body %}
{% load people_tags %}

        <div id="intro" class="grid_16"></div>

{% comment %}
{% for service in services %}
<a href="{% url djangopeople_service_river service.slug %}">{{ service }}</a><br>
{% endfor %}
{% endcomment %}
        <div class="grid_16">
        <div class="grid_10 alpha" id="primaryContent">
        <h2>Last Entries </h2>
{% for object in entries  %}
{% render object %}
{% endfor %}
        </div>
        <div class="grid_6 omega" id="secondaryContent">
        <h2>Today's most popular content</h2>
        <ol>
           <li></li>
        </ol>
        </div>

        </div>
{% endblock %}
