{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load svn_app_version %}
{% block header %}
<div class="grid_4 alpha"><h1><a href="/">All Feeds Django</a></h1></div>
{% block login %}
<div class="grid_4 prefix_8 omega">    
  {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
    {% endif %}
</div>
{% endblock %}
{% comment %}
{% block locule_switcher %}
<div>
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}
{% endcomment %}

{% block user_actions %}
    {% if user.is_authenticated %}
         <ul>
         	<li><a href="{% url djangopeople.views.home %}">{% trans "Aggregator" %}</a></li>
         	<li><a href="{% url profiles.views.profile user %}">{% trans "Profile" %}</a></li>
        	<li><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></li>
         </ul>
    {% endif %}
{% endblock %}

{% endblock %}

{% block mainNavigation %}
      <div class="grid_16">
         <ul class=""  id="mainNav">
            <li><a href="/">{% trans "Home" %}</a></li>
            <li><a href="/agg/river/blogs/">{% trans "Blogs" %}</a></li>
            <li><a href="/agg/river/twitter/">{% trans "Twitter" %}</a></li>
            <li><a href="/agg/river/flickr/">Flickr</a></li>
            <li><a href="/agg/river/django-snippets/">Django Snippets</a></li>
            <li><a href="/agg/river/delicious/">Delicious</a></li>
            <li><a href="/agg/river/lastfm-recent-tracks/">Last.fm Tracks</a></li>
            <li><a href="/agg/river/github/">GitHub</a></li>
            <li><a href="/agg/river/readernaut/">Readernaut</a></li>
            <li><a href="/agg/river/slideshare/">Slideshare</a></li>
         </ul>
       </div>
{% endblock %}


{% block footer %}
<div class="legal">
    <p>{% trans "&copy; 2009 All Feeds" %}
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
   </p>
</div>
{% endblock %}
